bin/
obj/
*.user
*.deps.json
sln/
.vs/
**/*.Tests/
/test-results/
/coverage/
**/*.csproj
!ShiftManagement.csproj
!**/*.cs
!**/*.cshtml
!**/*.js
!**/*.css
!**/*.json
!wwwroot/
!Views/
!Controllers/
!Models/
!Data/
!Services/
!Migrations/